.main
  .container-flud
    .row
      .col-12.main-top
        %p レシピ一覧
  .container
    .row.py-5
      .col-sm-12.col-xl-4.col-md-6
        .content
          = link_to "#" do
            = image_tag "karaage.jpg"
          .content__bottom
            .content__bottom
              .content__bottom__recipe-like
                %i
                  = icon('far', 'heart', class: "btn--icon")
              .user_name
                .user_name-top
                  %p ユーザー名：
                .content__bottom__left-user-name
                  = link_to "#" do
                    %p Minami
              .recipe_name
                .recipe_name-top
                  %p 料理名：
                .content__bottom__left-recipe-name
                  = link_to "#" do
                    %p 唐揚げ
              .content__bottom-date
                %p 2020-06-01 00:00更新
      .col-sm-12.col-xl-4.col-md-6
        .content
          = link_to "#" do
            = image_tag "karaage.jpg"
          .content__bottom
            .content__bottom
              .content__bottom__recipe-like
                %i
                  = icon('far', 'heart', class: "btn--icon")
              .user_name
                .user_name-top
                  %p ユーザー名：
                .content__bottom__left-user-name
                  = link_to "#" do
                    %p Minami
              .recipe_name
                .recipe_name-top
                  %p 料理名：
                .content__bottom__left-recipe-name
                  = link_to "#" do
                    %p 唐揚げ
              .content__bottom-date
                %p 2020-06-01 00:00更新
      .col-sm-12.col-xl-4.col-md-6
        .content
          = link_to "#" do
            = image_tag "karaage.jpg"
          .content__bottom
            .content__bottom
              .content__bottom__recipe-like
                %i
                  = icon('far', 'heart', class: "btn--icon")
              .user_name
                .user_name-top
                  %p ユーザー名：
                .content__bottom__left-user-name
                  = link_to "#" do
                    %p Minami
              .recipe_name
                .recipe_name-top
                  %p 料理名：
                .content__bottom__left-recipe-name
                  = link_to "#" do
                    %p 唐揚げ
              .content__bottom-date
                %p 2020-06-01 00:00更新
      .col-sm-12.col-xl-4.col-md-6
        .content
          = link_to "#" do
            = image_tag "karaage.jpg"
          .content__bottom
            .content__bottom
              .content__bottom__recipe-like
                %i
                  = icon('far', 'heart', class: "btn--icon")
              .user_name
                .user_name-top
                  %p ユーザー名：
                .content__bottom__left-user-name
                  = link_to "#" do
                    %p Minami
              .recipe_name
                .recipe_name-top
                  %p 料理名：
                .content__bottom__left-recipe-name
                  = link_to "#" do
                    %p 唐揚げ
              .content__bottom-date
                %p 2020-06-01 00:00更新
