.main
  .container
    .row
      .col-12.main-top
        %p Recipe list
  .search
    = form_with(url: search_recipes_path, local: true, method: :get, class: "search-form") do |form| 
      = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
      = form.submit "検索", class: "search-btn"
  .container
    .row.py-5
      - @recipes.each do |recipe|
        .col-sm-12.col-xl-4.col-md-6
          .content 
            = link_to recipe_path(recipe), class: "top_img" do
              = image_tag recipe.image.url
            .content__bottom
              .content__bottom
                .content__bottom__recipe-like
                  -if current_user.already_liked?(recipe)
                    = link_to recipe_like_path(recipe.likes, recipe_id: recipe.id), method: :delete do
                      = icon('fas', 'heart', class: "btn--icon-top")
                  -else
                    = link_to recipe_likes_path(recipe), method: :post do 
                      = icon('far', 'heart', class: "btn--icon")
                .count
                  = recipe.likes.count
            = link_to user_path(recipe.user.id), class: "bottom_img"  do
              = image_tag recipe.user.profile_image.url
              .user_name
                = recipe.user.user_name 
            .content__bottom-date
              = recipe.updated_at.strftime("%Y-%m-%d %H:%M") 
