%section.users
  .container
    .row
      .col-12
        %h2 USER LIST
  .container
    .row.py-5
      -@users.each do |user|
        .col-12.col-sm-6.col-md-3
          .content
            = link_to user_path(user), class: "users__image" do
              = image_tag user.profile_image.url
            = link_to user_path(user), class: "users__name" do
              = user.user_name
            .count
              投稿数 :
              = user.recipes.count
