%section.user
  .container
    .row
      .col-12
        %h2 PROFILE
      .col-12.content.px-5
        .content__img
          = image_tag @user.profile_image.url
        .content__box
          %div.blok
            名前：
            = @user.user_name

          %div.blok
            -if @user.id == current_user.id
              メールアドレス：
              = @user.email

          %div.blok
            プロフィール：
            = @user.profile

          %div.blok_edit
            -if @user.id == current_user.id
              =link_to edit_user_path(@user), class: "edit_button" do
                編集
  .container
    .row.py-5
      - @user.recipes.each do |recipe|
        .col-sm-12.col-xl-4.col-md-6
          .content_main 
            = link_to recipe_path(recipe), class: "top_img" do
              = image_tag recipe.image.url
            .content__bottom
              .content__bottom
                .content__bottom__recipe-like
                  %i
                    = icon('far', 'heart', class: "btn--icon")
                = link_to user_path(recipe.user.id), class: "bottom_img"  do
                  = image_tag @user.profile_image.url
                  .user_name
                    = recipe.user.user_name 
                .content__bottom-date
                  = recipe.updated_at.strftime("%Y-%m-%d %H:%M") 
                .content__bottom-delete
                  -if @user.id == current_user.id
                    =link_to recipe_path(recipe), method: :delete, data: {confirm: "削除しますか？"} do
                      %p 削除
