!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CookChat
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Permanent+Marker", rel: "stylesheet"
  %body.body
    = render 'shared/notifications'
    %header.header#header
      .header__logo
        = link_to "/" do
          = image_tag "cook-chat.png"
      .header__login
        -if user_signed_in?
          = link_to new_recipe_path, class: "header__a"  do
            %p.login-center 新規投稿
          = link_to recipes_path, class: "header__a"  do
            %p.login-right レシピ一覧
          = link_to users_path, class: "header__a"  do
            %p.login-right ユーザーリスト 
          = link_to user_path(current_user), class: "header__a"  do
            %p.login-right マイページへ 
          = link_to destroy_user_session_path, method: :delete, class: "header_a" do
            %p.login-left ログアウト
        -else
          = link_to home_guest_sign_in_path, method: :post, class: "header__a"  do
            %p.login-left ゲストログイン
          = link_to new_user_session_path, class: "header__a"  do
            %p.login-left ログイン
          = link_to new_user_registration_path, class: "header__a"  do
            %p.login-center 新規登録
          = link_to recipes_path, class: "header__a"  do
            %p.login-right レシピ一覧
    = yield

    %footer.footer
      %p @Minami Moroishi cook-chat 
